<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Katalog Sepatu</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        .product {
            margin-bottom: 0px;
        }

        .product .card-img-top {
            object-fit: cover;
            height: 300px;
        }

        .product .card-text {
            margin-bottom: 0%;
        }

        .container-fluid a {
            color: white;
        }

        .container-fluid a {
            color: white;
        }

        #link {
            margin-left: 60px;
        }

        #search {
            margin-right: -50px;
        }

        .hero {
            background-color: rgba(0, 187, 245, 12%);

        }

        ul img {
            margin-left: 25px;
            margin-right: 20px;
            width: 40px;
            margin-top: 15px;

        }

        ul h6 {
            display: inline;
            margin-top: 20px;
            color: antiquewhite;
        }

        #text {
            margin-left: 30px;
            color: antiquewhite;
        }

        a img {
            width: 100px;
            height: 20px;
        }

        #logo {
            height: 40px;
            width: auto;
        }

        .img img {
            width: 100%;
        }

        .list p {
            font-size: 30px;
            color: black;
        }
    </style>
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-secondary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img id="logo" src="../static/logo.png" alt="">
            </a>
            <div class="container" id="link">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" role="button">Catalog
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <form class="d-flex" id="search" role="search" >
                <input class="form-control me-2 w-auto" type="search" placeholder="Search product" aria-label="Search" >
                <button class="btn btn-primary mr-3" type="submit" style="width: 100%; font-size: 15px;">Search</button>
            </form>
        </div>
        <ul class="col-md-2 justify-content-end">

            <img src="../static/person.svg" href="#" alt="" />
            <img src="../static/cart.svg" href="#" alt="" />
            <img src="../static/cart.svg" href="#" alt="" />
            <img src="../static/person.svg" href="#" alt="" />
        </ul>
    </nav>
    <!-- navbar end -->


    <div class="container" style="margin-top: 2rem;">
        <div class="row">

            <div class="col-md-4 product rounded-3">
                <div class="card shadow-sm mb-4">
                    <img src="https://media.karousell.com/media/photos/products/2020/12/30/sepatu_second_branded_original_1609306594_4400a25e_progressive"
                        alt="Sepatu 2" class="card-img-top">
                    <div class="card-body text-center">
                        <h5 class="card-brand">Nike 'brand' </h5>
                        <p class="card-text">Air Force bla bla 'jenis'
                            <br> UK 42
                        </p>
                        <p class="card-harga" style="font-weight: bold;">Rp. 260.000</p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                            Detail
                        </button>
                    </div>

                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header bg-primary text-white">
                                    <h5 class="modal-title">Detail</h5>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <th scope="row">Brand</th>
                                                <td>Nike</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Jenis</th>
                                                <td>Air Force</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Ukuran</th>
                                                <td>40cm</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Harga</th>
                                                <td>Rp. 260.000</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Deskripsi</th>
                                                <td>Sepatu cocok untuk olahraga, minus kotak</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>


            <div class="col-md-4 product rounded-3">
                <div class="card shadow-sm mb-4">
                    <img src="https://media.karousell.com/media/photos/products/2019/09/12/sepatu_second_original_reebok_hexalite_1568303493_a8920c33_progressive.jpg"
                        alt="Sepatu 2" class="card-img-top">
                    <div class="card-body text-center">
                        <h5 class="card-brand">Converse 'brand' </h5>
                        <p class="card-text">High shoes
                            <br> UK 45
                        </p>
                        <p class="card-harga" style="font-weight: bold;">Rp. 400.000</p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal1">
                            Detail
                        </button>
                    </div>

                    <div class="modal fade" id="myModal1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Detail</h5>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <p> <span style="font-weight: bold;">Brand</span> : Convers </p>
                                    <p> Jenis : High </p>
                                    <p> UK : 40cm</p>
                                    <p> Harga : Rp. 400.000</p>
                                    <p> Deskripsi : Merk sekarang</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4 product rounded-3">
                <div class="card shadow-sm mb-4">
                    <img src="https://media.karousell.com/media/photos/products/2020/12/30/sepatu_second_branded_original_1609306594_4400a25e_progressive"
                        alt="Sepatu 2" class="card-img-top">
                    <div class="card-body text-center">
                        <h5 class="card-brand">Nike 'brand' </h5>
                        <p class="card-text">Air Force bla bla 'jenis'
                            <br> UK 42
                        </p>
                        <p class="card-harga" style="font-weight: bold;">Rp. 260.000</p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
                            Detail
                        </button>
                    </div>

                    <div class="modal fade" id="myModal2">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Detail</h5>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <p> <span style="font-weight: bold;">Brand</span> : Nike </p>
                                    <p> Jenis : Air Force</p>
                                    <p> UK : 40cm</p>
                                    <p> Harga : Rp. 260.000</p>
                                    <p> Deskripsi : Sepatu cocok untuk olahraga, minus kotak</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 product">
                <div class="card shadow-sm mb-4 rounded-3">
                    <img src="https://media.karousell.com/media/photos/products/2020/12/30/sepatu_second_branded_original_1609306594_4400a25e_progressive"
                        alt="Sepatu 2" class="card-img-top">
                    <div class="card-body text-center">
                        <h5 class="card-brand">Nike 'brand' </h5>
                        <p class="card-text">Air Force bla bla 'jenis'
                            <br> UK 42
                        </p>
                        <p class="card-harga" style="font-weight: bold;">Rp. 260.000</p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
                            Detail
                        </button>
                    </div>

                    <div class="modal fade" id="myModal2">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Detail</h5>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <p> <span style="font-weight: bold;">Brand</span> : Nike </p>
                                    <p> Jenis : Air Force</p>
                                    <p> UK : 40cm</p>
                                    <p> Harga : Rp. 260.000</p>
                                    <p> Deskripsi : Sepatu cocok untuk olahraga, minus kotak</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 product">
                <div class="card shadow-sm mb-4 rounded-3">
                    <img src="https://media.karousell.com/media/photos/products/2020/12/30/sepatu_second_branded_original_1609306594_4400a25e_progressive"
                        alt="Sepatu 2" class="card-img-top">
                    <div class="card-body text-center">
                        <h5 class="card-brand">Nike 'brand' </h5>
                        <p class="card-text">Air Force bla bla 'jenis'
                            <br> UK 42
                        </p>
                        <p class="card-harga" style="font-weight: bold;">Rp. 260.000</p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
                            Detail
                        </button>
                    </div>

                    <div class="modal fade" id="myModal2">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Detail</h5>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <p> <span style="font-weight: bold;">Brand</span> : Nike </p>
                                    <p> Jenis : Air Force</p>
                                    <p> UK : 40cm</p>
                                    <p> Harga : Rp. 260.000</p>
                                    <p> Deskripsi : Sepatu cocok untuk olahraga, minus kotak</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- footer -->
    <div class="container-fluid bg-secondary" style="margin-bottom: -30px">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <ul class="col-md-4 justify-content-end">
                <h6>Contact Us: </h6>
                <img src="../static/instagram.svg" href="#" alt="" />
                <img src="../static/whatsapp.svg" href="#" alt="" />
                <img src="../static/facebook.svg" href="#" alt="" />
            </ul>
            <p id="text" class="col-md-4 mb-0">
                @2023.Triple'sBranded.All rights reserved
            </p>
        </footer>

        <!-- footer end -->

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    </div>
    <!-- footer end -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>

</html>